body {
    background: #000;
}

.aside-left {
    position: fixed;
    top:      0;
    bottom:   0;
    left:     0;
    width:    calc(100% - 300px);
}

.aside-right {
    background: #222;
    position:   fixed;
    top:        0;
    bottom:     0;
    right:      0;
    width:      300px;
}
